version: '3.8'

services:
  inventory:
    image: docker.pkg.github.com/williamjacksn/inventory/inventory
    environment:
      DSN: postgres://postgres:postgres@postgres/postgres
      OPENID_CLIENT_ID: (set in docker-compose.override.yaml)
      OPENID_CLIENT_SECRET: (set in docker-compose.override.yaml)
      OPENID_DISCOVERY_DOCUMENT: (set in docker-compose.override.yaml)

  postgres:
    image: postgres:11.9-alpine
    environment:
      POSTGRES_PASSWORD: postgres
