{% extends 'index.html' %}

{% block sign_in %}
    <a class="btn btn-danger btn-block" href="{{ url_for('sign_out') }}" title="{{ session.profile.email }}">
        <span class="glyphicon glyphicon-log-out"></span> Sign out ({{ session.profile.name }})
    </a>
{% endblock %}

{% block content %}
    <div class="row bump-top-padding">
        <div class="col-md-12">
            <h1>Current inventory</h1>
        </div>
    </div>

    <div class="row bump-top-padding">
        <div class="col-md-12">
            <a class="btn btn-default" href="{{ url_for('orders') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Orders</a>
            <a class="btn btn-default" href="{{ url_for('sales') }}"><span class="glyphicon glyphicon-usd"></span> Sales</a>
            <a class="btn btn-default" href="{{ url_for('samples') }}"><span class="glyphicon glyphicon-leaf"></span> Samples</a>
        </div>
    </div>

    <div class="row bump-top-padding hidden-xs">
        <div class="col-md-12">
            <table class="table" data-sortable>
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Category</th>
                    <th>On order</th>
                    <th>In stock</th>
                    <th>Committed</th>
                    <th>Available to sell</th>
                    <th>Sold to date</th>
                    <th>Samples</th>
                </tr>
                </thead>
                <tbody>
                {% for item in c.inventory %}
                    {% set qty_in_stock = item.qty_received - item.qty_sold - item.qty_sample_used - item.qty_sample_active %}
                    {% set qty_available = qty_in_stock - item.qty_committed %}
                    <tr>
                        <td><a href="{{ url_for('item_detail', item_id=item.item_id) }}">{{ item.item_name }}</a></td>
                        <td>{{ item.item_category }}</td>
                        <td>{{ item.qty_ordered }}</td>
                        <td>{{ qty_in_stock }}</td>
                        <td>{{ item.qty_committed }}</td>
                        <td>{{ qty_available }}</td>
                        <td>{{ item.qty_sold }}</td>
                        <td>{{ item.qty_sample_active }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row bump-top-padding visible-xs-block">
        <div class="col-xs-12">
            <div class="list-group">
            {% for item in c.inventory %}
                {% set qty_in_stock = item.qty_received - item.qty_sold - item.qty_sample_used - item.qty_sample_active %}
                {% set qty_available = qty_in_stock - item.qty_committed %}
                <a class="list-group-item" href="{{ url_for('item_detail', item_id=item.item_id) }}">
                    <h4 class="list-group-item-heading">{{ item.item_name }} <small>{{ item.item_category }}</small></h4>
                    <p class="list-group-item-text">
                        <span class="text-nowrap {{ 'text-muted' if item.qty_ordered < 1 }}">{{ item.qty_ordered }} on order,</span>
                        <span class="text-nowrap {{ 'text-muted' if qty_in_stock < 1 }}">{{ qty_in_stock }} in stock,</span>
                        <span class="text-nowrap {{ 'text-muted' if item.qty_committed < 1 }}">{{ item.qty_committed }} committed,</span>
                        <span class="text-nowrap {{ 'text-muted' if qty_available < 1 }}">{{ qty_available }} available to sell,</span>
                        <span class="text-nowrap {{ 'text-muted' if item.qty_sold < 1 }}">{{ item.qty_sold }} sold to date,</span>
                        <span class="text-nowrap {{ 'text-muted' if item.qty_sample_active < 1 }}">{{ item.qty_sample_active }} sample{{ 's' if item.qty_sample_active != 1 }}</span>
                    </p>
                </a>
            {% else %}
                <li class="list-group-item">No items</li>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
