{% extends 'index_signed_in.html' %}

{% block title %}Inventory / Orders{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url_for('index') }}">Inventory</a></li>
    <li class="active">Orders</li>
{% endblock %}

{% block content %}
    <div class="row bump-top-padding">
        <div class="col-md-12">
            <h1>Orders</h1>
            <p><a href="{{ url_for('index') }}">&larr; back to inventory</a></p>
        </div>
    </div>

    <div class="row bump-top-padding">
        <div class="col-md-12">
            <form action="{{ url_for('orders_new') }}" method="post">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New order</button>
            </form>
        </div>
    </div>

    <div class="row bump-top-padding hidden-xs">
        <div class="col-md-12">
            <table class="table" data-sortable>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Note</th>
                    <th>Quantity</th>
                    <th>Items</th>
                    <th>Received</th>
                </tr>
                </thead>
                <tbody>
                {% for order in c.orders %}
                    <tr{% if order.waiting_to_receive %} class="bg-danger"{% endif %}>
                        <td><a href="{{ url_for('order_detail', order_id=order.order_id) }}">{{ order.order_created_at.date() }}</a></td>
                        <td>{{ order.order_note }}</td>
                        <td>{{ order.num_items }}</td>
                        <td>
                        {% for item in order.order_items %}
                            {% if item.status == 'ordered' %}<span class="label label-default">
                            {% elif item.status == 'received' %}<span class="label label-success">
                            {% else %}<span class="label label-danger">
                            {% endif %}
                            {{ item.name }} ({{ item.quantity }})</span>
                        {% endfor %}
                        </td>
                        <td>{{ '' if order.waiting_to_receive else '✔' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row bump-top-padding visible-xs-block">
        <div class="col-xs-12">
            <div class="list-group">
            {% for order in c.orders %}
                <a class="list-group-item {% if order.waiting_to_receive %}list-group-item-danger{% endif %}" href="{{ url_for('order_detail', order_id=order.order_id) }}">
                    <h4 class="list-group-item-heading">{{ order.order_created_at.date() }} <small>{{ order.order_note }}</small></h4>
                    <p class="list-group-item-text"><strong>{{ order.num_items }} item{{ 's' if order.num_items != 1 }}{{ ':' if order.num_items > 0 }}</strong>
                        {% for item in order.order_items %}
                            {% if item.status == 'ordered' %}<span class="label label-default">
                            {% elif item.status == 'received' %}<span class="label label-success">
                            {% else %}<span class="label label-danger">
                            {% endif %}
                            {{ item.name }} ({{ item.quantity }})</span>
                        {% endfor %}
                    </p>
                </a>
            {% else %}
                <a class="list-group-item">No orders</a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
